@import "../scss/mixins";

.ci {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    cursor: pointer;
}

.ci-cross {
    border: 2px solid #fff;
    color: #fff;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-icon {
    cursor: pointer;
}


.mainview-bg {
    &__left {
        width: calc(100% - 380px);

        &__header {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.2);
            min-height: 65px;
            justify-content: space-between;


            .top-logo {
                z-index: 9;
                cursor: pointer;

                @include mobile {
                    left: auto;
                    right: 10px;
                    transform: none;
                }

                img {
                    vertical-align: middle;
                    @include mobile {
                        max-width: 180px;
                    }
                }

            }
            .top-cart {
                .btn {
                    background: #F44336;
                    color: #fff;
                }
            }

            .top-controls {
                display: inherit;
                background: rgba(0, 0, 0, 0.6);
                padding: 5px 10px;
                margin-left: 20px;
                @include mobile {
                    display: none;
                }

                div {
                    margin: 0 10px;
                    font-size: 25px;
                    cursor: pointer;
                    @media (min-width:320px) and (max-width:823px)  {
                        font-size: 20px;
                    }

                    i {
                        color: rgba(255, 255, 255, 0.9)
                    }
                }
            }
        }

        &__footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            .link {
                a {
                    color: #fff;
                    margin-left: 10px;
                    text-decoration: none;
                }
            }
            .footer-controls {
                display: flex;
                padding: 8px 10px 5px;
                max-width: 300px;
                margin: auto;


                div {
                    margin: 0 10px;
                    font-size: 25px;
                    cursor: pointer;

                    i {
                        color: rgba(255, 255, 255, 0.9)
                    }
                }
            }
        }
    }

    &__right {
        .right-sidebar {
            background: rgba(0,0,0,.6);
            position: fixed;
            top: 0;
            left: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            z-index: 9999;
            transition: .5s ease;
            &.open  {
                visibility: visible;
                .right-sidebar__wrapper {
                    right: 0;
                    transition: .4s ease;
                }
            }
            &__wrapper {
                width: 380px;
                background: #fff;
                height: 100vh;
                position: absolute;
                right: -380px;
                top: 0;
                z-index: 100;
                transition: .4s ease;

                @media (min-width:320px) and (max-width:823px)  {
                    width: 100%;
                    right: -100%;
                }
                @include ipad {
                    width: 380px;
                }
            }



            &__header {
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
                border-bottom: 1px solid #ddd;

                span {
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 1px 5px;
                    color: #000;
                }

                .or:hover {
                    text-decoration: none;
                }
                .right-header {
                    display: inline-flex;
                }
            }

            &__body {
                &__slider {
                    padding: 5px 20px 0px;
                    border-bottom: 1px solid rgba(249, 249, 249, 0.5);

                    .item-slide {
                        text-align: center;
                        padding: 20px;
                        min-height: 140px;

                    }

                    img {
                        margin: 0 auto 15px;
                    }

                    h4 {
                        overflow: hidden;
                        font-size: 18px;
                    }
                }

                .card {
                    border: 1px solid #fff;
                }

                &__login {
                    padding: 20px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 10;

                    .login-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #ddd;
                        margin-left: -20px;
                        margin-right: -20px;
                        padding: 0 20px 10px;

                        h3 {
                            margin-bottom: 0;
                        }
                    }

                    .ci {
                        color: #000;
                        border-color: #000;
                    }
                }

                &__browsemodal {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 1050;
                    display: none;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    outline: 0;

                    &:before {
                        content: "";
                        background: rgba(0, 0, 0, 0.9);
                        position: absolute;
                        z-index: -1;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    .card-title {
                        margin-bottom: 5px;
                        font-weight: 400;
                        font-size: 16px;
                    }

                    .browsemodal-header {
                        padding: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #fafafa;

                        h3 {
                            color: #fff;
                            margin-bottom: 0;
                        }
                    }

                    .browsemodal-body {
                        padding: 20px 40px;
                    }

                    .browsemodal-body-item {
                        display: flex;
                        flex-wrap: wrap;
                        max-height: calc(100vh - 130px);
                        overflow-y: auto;

                        .list {
                            flex-basis: 12.5%;
                            max-width: 12.5%;
                            position: relative;
                            cursor: pointer;
                            padding-left: 10px;
                            padding-right: 10px;

                            .card {
                                min-height: 150px;
                            }

                            .list-img {
                                position: relative;
                                padding-bottom: 66%;
                                overflow: hidden;
                                margin-bottom: 10px;

                                img {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }


                &__browsemodal.frameModal {
                    position: absolute;

                    &:before {
                        background: #fff;
                    }

                    .browsemodal-header {
                        border-bottom: 1px solid #ddd;

                        h3 {
                            color: #000;
                        }

                        .ci {
                            color: #000;
                            border-color: #000;
                        }
                    }

                    .browsemodal-body {
                        padding: 20px 10px;
                        overflow: auto;
                    }

                    .browsemodal-body-item {
                        overflow: unset;

                        .list-items {
                            width: 100%;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #ddd;
                            


                            &:last-child {
                                border-bottom: 0;
                            }
                        }

                        .list-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                        }

                        .list {
                            flex-basis: 100%;
                            max-width: 100%;
                            width: 100%;
                            padding: 0;
                            margin-bottom: 10px;
                            align-items: center;
                            display: flex;
                            align-items: center;

                            &:hover,
                            &.selected {
                                background: #eee;
                            }

                            .list-imgblk {
                                width: 90px;
                                float: left;
                                margin-right: 10px;
                                border: 1px solid #ddd;

                                .zoomBtn {
                                    font-size: 12px;
                                    padding: 1px 3px;
                                    text-decoration: none;
                                    cursor: pointer;
                                }

                                a {
                                    cursor: zoom-in;
                                    text-decoration: none;
                                    color: #000;
                                    background: #fff;
                                    display: block;
                                }

                                img {
                                    display: block;
                                    cursor: zoom-in;
                                }
                            }

                            .list-desc {
                                overflow: hidden;

                                h5 {
                                    margin-bottom: 0;
                                    font-size: 16px;
                                }

                                p {
                                    color: red;
                                    margin-bottom: 0;
                                }
                                .tags {
                                span {
                                    display: inline-block;
                                    font-size: 13px;
                                    border-radius: 50px;
                                    padding: 0 10px;
                                    color: #000;
                                    background: #ddd;
                                    border: 1px solid #cac8c8;
                                }
                                .driver{
                                    background: red;
                                    color:#fff;
                                    border-color: red;
                                }
                                .passenger {
                                    background: red;
                                    color: #fff;
                                    border-color: red;
                                }
                            }
                                
                            }

                            .list-rem {
                                display: none;
                                margin-left: auto;
                                padding-right: 10px;
                                font-size: 24px;
                                color: red;
                            }
                        }

                        .list.selected {
                            .list-rem {
                                display: block;
                            }
                        }
                    }
                }
            }

            &__footer {
                &__fourbox {
                    padding: 5px 20px;
                    display: flex;
                    flex-wrap: wrap;

                    .form-group {
                        width: calc(50% - 10px);
                        margin: 0 5px 10px;
                        text-align: center;

                        &.disabled {
                            opacity: 0.6;
                            cursor: default !important;

                            .circle-box {
                                cursor: default !important;
                            }
                        }
                    }

                    .circle-box {
                        width: 95px;
                        height: 95px;
                        background: #ddd;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto 10px;
                        cursor: pointer;
                        overflow: hidden;
                    }

                    .circle-box.with-img {
                        border: 4px solid #444;
                    }

                    .btn {
                        min-height: 50px;
                        font-size: 18px;
                    }
                }

                &__fourbox.selected {
                    text-align: center;

                    img {
                        width: 120px;
                        display: block;
                    }
                }

                .selected-card {
                    display: flex;
                    background: rgba(0, 0, 0, 0.1);
                    align-items: center;
                    width: 100%;
                    margin-bottom: 10px;
                }

                .selected-card-overflow {
                    max-height: 300px;
                    overflow-y: auto;
                    width: 100%;
                    padding: 10px;
                    background: rgba(204, 200, 200, 0.21);
                }

                .selected-card-img {
                    max-width: 40%;
                    flex-basis: 40%;
                }

                .selected-card-text {
                    max-width: 45%;
                    flex-basis: 45%;

                    h6 {
                        color: #fff;
                    }
                }

                .selected-card-btn {
                    max-width: 15%;
                    flex-basis: 15%;
                }

            }
        }
        .toggle-right-sidebar {
            width: 110px;
            height: 40px;
            position: absolute;
            background: red;
            color: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            right: 0px;
            bottom: 60px;
            -webkit-border-radius: 20px 0 0 20px;
            -moz-border-radius: 20px 0 0 20px;
            -o-border-radius: 20px 0 0 20px;
            -ms-border-radius: 20px 0 0 20px;
            border-radius: 20px 0 0 20px;
            cursor: pointer;
            transition: .4s ease;
            visibility: visible;

            &.open {
                right: 380px;
                transition: .4s ease;
            }
        }


    }
}


div#cartModal .list-rem {
    display: block;
}

.itemDesc {
    display: block;
    color: #666;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.mobile-close  {
    display: none;

    
    @include gp-landscape {
        display: inline-block;
    }
    @include ipad {
        display: none;
    }
    @include mobile {
        display: inline-block;
    }
    i {
        color: #000;
        border-color: #000;
    }
}


//panelmodal
#cartModal {
.browsemodal-body {
    height: calc(100vh - 130px);
    overflow: auto;
}
.browsemodal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #f8f8f8;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
}
}

//success msg
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.successform-modal {
    text-align: center;
    .modal-body {
        padding: 30px 15px;
    }
    h2 {
        margin-bottom: 15px;
    }
    .success-icon {
        margin-bottom: 10px;
        i {
            font-size: 70px;
            color: green;
        }
    }
    .close-modal-btn {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}






//img zoom modal
.imgzoom-modal {
    .modal-dialog {
        max-width: 50%;
        @media (min-width:320px) and (max-width:823px)  {
            max-width: 100%;
        }
    }
    .card-img-top {
        max-height: calc(100vh - 200px);
        text-align: center;
         img {
            max-height: calc(100vh - 200px);
         }
    }
    .img-padding {
        background: #fff;
        border-bottom: 1px solid #ddd;
        position: relative;
        }
        .imgPreload {
            min-height: 400px;
            position: relative;
            z-index: 999;
            @media (min-width:768px) and (max-width:1366px) {
                min-height: 280px;
            }
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        .loader__gif {
            min-height: 80px;
            max-height: 80px;
            img {
                position: relative;
            }
        }

    }
    .img-loader {
        .app-loader{
            display: flex !important;
            position: absolute;
            &::after {
                content: "";
                position: absolute;
            }
        }
    }
    .card-img-bottom {
        padding: 20px 0px 5px;
        display: flex;
        justify-content: space-between;
    }
.itemDesc {
    display: inline-block;
}
.itemCat {
    background: #dbd2d2;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 4px;
    width: 100%;
    margin-left: 5px;
}
.btn {
    transition: 0.3s ease-in-out;
    outline: none;
}



.delete-modal {
    z-index: 1052;
}
.quotation-modal {
    .modal-body {
        max-height: calc(100vh - 180px);
        overflow: auto;
    }
}

//builder table css
.builder-infotable {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    background: transparent;
    display: none;
    @media (min-width:320px) and (max-width:823px) {
        top:80px;
        transform: initial;
    }
}
#quotation {
    ul {
        background: red;
        color: #fff;
        padding: 10px 15px;
        border-radius: .25rem;
        list-style-position: inside;
        &:empty {
            display: none;
        }
    }
}

div#footerLink {
    position: absolute;
    max-width: 400px;
    left: 10px;
    @media (min-width:320px) and (max-width:767px)  {
        display: none;
    }
}

div#headerVehicle {
    text-align: center;
    font-size: 18px;
    background: red;
    margin: 10px 0;
    color: #fff;
    width: min-content;
    padding: 0 20px;
    border-radius: 4px;
    min-width: 210px;
}

.auto-rotate img {
    vertical-align: middle;
    margin-top: -5px;
}